/* Add your CSS styles here */
/*csslint box-sizing: false*/


/*CONFIG PADRÃO*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html,body{
  height: 100%;
}

.container{
  max-width: 1280;
  margin: 0 auto;
}

.clear{
  clear: both;
}

.left{
  float: left;
}

.right{
  float: right;
}

/*HEADER */
header {
  background-color: white;
;
  color: white;
  padding: 20px;
}


/*BOX-CAPTURA*/


/*CONTENT*/

/*FOOTER*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


nav {
  background-color: white;
;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

section {
  margin: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}




